<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Templates is working</title>
    </head>
<body>
<h1>Welcome to the text analyzer</h1>
<form action="/analyze" method="get">
    <textarea name='text' style="margin: 0px; width: 506px; height: 84px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuation<br>
    <input type="checkbox" name="fullcaps">UPPER CASE<br>
    <input type="checkbox" name="newlineremove">NEWLINE REMOVE<br>
    <input type="checkbox" name="removespace">SPACE REMOVE<br>
    <input type="checkbox" name="charcount">CHAR COUNT<br>
    <button type="submit">Analyse Text</button>
</form>
</body>
</html>

<!-- <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Templates is working</title>
    </head>
<body>
<h1>Welcome to the text analyzer</h1>
<form>
    <textarea></textarea>
</form>
<a href="https://www.facebook.com/">facebook</a><br>
<a href="https://www.facebook.com/">facebook</a><br>
<a href="https://www.facebook.com/">facebook</a><br>
<a href="https://www.facebook.com/">facebook</a>

</body>
</html> -->
